<!DOCTYPE html>
<html>
  <head>
    <title>Add Vaccination Centre</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex flex-col text-black justify-center items-center space-y-8 shadow-xl shadow-purple-500 hover:shadow-purple-100 transition p-16 m-16">
    <div class="flex flex-row justify-around w-full text-white">
      <a href="{% url 'add_centre' %}" class="bg-purple-700 px-4 py-4 text-lg font-semibold rounded-lg hover:bg-white hover:text-purple-700 hover:shadow-lg transition">Add Vaccination Centre</a>
      <a href="{% url 'getvaccinationdetails' %}" class="bg-purple-700 px-4 py-4 text-xl font-semibold rounded-lg hover:bg-white hover:text-purple-700 hover:shadow-xl transition">Vaccination Details </a>
      <a href="{% url 'get_dosage_details' %}" class="bg-purple-700 px-4 py-4 text-lg font-semibold rounded-lg hover:bg-white hover:text-purple-700 hover:shadow-lg transition">Get Dosage Details</a>
      <a href="{% url 'remove_centre' %}" class="bg-purple-700 px-4 py-4 text-lg font-semibold rounded-lg hover:bg-white hover:text-purple-700 hover:shadow-lg transition">Remove Vaccination Centre</a>
      <a href="{% url 'logout' %}" class="bg-purple-700 px-4 py-4 text-lg font-semibold rounded-lg hover:bg-white hover:text-purple-700 hover:shadow-lg transition">Logout</a>
    </div>

    <h1 class="text-purple-700 font-bold text-4xl">Add Vaccination Centre</h1>
    <form method="POST" action="{% url 'add_centre' %}" class="grid grid-col-1 gap-6 items-center">
      {% csrf_token %}
      <label for="name" class="text-purple-700 text-xl font-semibold">Vaccination Centre Name</label>
      <input type="text" id="name" name="name" required class="bg-gray-100 rounded-lg border-2 p-2" />
      <label for="location" class="text-purple-700 text-xl font-semibold">Location</label>
      <input type="text" id="location" name="location" required class="bg-gray-100 rounded-lg border-2 p-2" />
      <label for="working_hours" class="text-purple-700 text-xl font-semibold">Working Hours</label>
      <input type="text" id="working_hours" name="working_hours" required class="bg-gray-100 rounded-lg border-2 p-2" />
      <label for="dosages_available" class="text-purple-700 text-xl font-semibold">Dosages Available</label>
      <input type="number" id="dosages_available" name="dosages_available" required class="bg-gray-100 rounded-lg border-2 p-2" />
      <button type="submit" class="px-4 py-2 bg-purple-700 text-white hover:text-purple-700 font-bold transition hover:bg-white rounded-lg">Add Centre</button>
    </form>
  </body>
</html>
