<!DOCTYPE html>
<html>
  <head>
    <title>Signup Form</title>
    {% if error_message %}
    <p class="error-message">{{ error_message }}</p>
    {% endif %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex flex-col justify-center items-center space-y-8 shadow-xl shadow-purple-500 hover:shadow-purple-100 transition p-16 m-16">
    <h2 class="text-purple-700 font-bold text-4xl">Signup Form</h2>
    <form method="POST" action="{% url 'signup' %}" class="grid grid-col-1 gap-6 items-center">
      {% csrf_token %}
      <input type="tel" id="mobile" class="bg-gray-100 rounded-lg border-2 p-2 text-purple-700 font-medium placeholder-purple-400" name="mobile_number" placeholder="Mobile Number" required />
      <input type="password" id="mpin" maxlength="6" class="bg-gray-100 rounded-lg border-2 p-2 text-purple-700 font-medium placeholder-purple-400" name="mpin" placeholder="MPIN" required />
      <input type="password" id="confirmMpin" maxlength="6" class="bg-gray-100 rounded-lg border-2 p-2 text-purple-700 font-medium placeholder-purple-400" name="confirm_mpin" placeholder="Confirm MPIN" required />
      <button type="submit" id="signup" class="px-4 py-2 bg-purple-700 text-white hover:text-purple-700 font-bold transition hover:bg-white rounded-lg">
        Signup
      </button>
    </form>
  </body>
</html>
